<h3 id="heading">Today's Available doctor's time table:</h3>

<div class="col-md-9 offset-md-1">
  <div class="doctortable" >

      <table class="table table-hover" id="table">
        <thead>
        <tr>
          <th  scope="col">Doctor's Name</th>
          <th  scope="col">Degree</th>
          <th  scope="col">Timings</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let dt of result">
          <td>{{dt.name}}</td>
          <td>{{dt.degree}}</td>
          <td>{{dt.time}}</td>
        </tr>
      </tbody>
      </table>

  </div>
</div>




