<!-- <h1 class="form-text text-center">Booking Appointment</h1><br>
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-4">
        <div class="form-group">
            <label for="id">Appointment Id:</label>
            <input type="text" class="form-control" placeholder="Fullname">
        </div> 

        <div class="form-group">
            <label for="">Firstname:</label>
            <input type="text" class="form-control" placeholder="Fullname">
        </div>

        </div>
        </div>   -->
        <div>
            <!-- <input type="text" name="search" [(ngModel)]="searchText" placeholder="Search by Appointment id"> -->
            <input 
            #query
            (keyup)="filter(query.value)"
            type="text" class="form-control" placeholder="Search by name...">
        </div>

        <!-- <table *ngFor="let dt of Result" class="table table-stripped"> -->
        <table class="table table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Appointmentid:</th>
                    <th scope="col">Fullname:</th>
                    <th scope="col">Phone:</th>
                    <th scope="col">Email:</th>
                    <th scope="col">Age:</th>
                    <th scope="col">Appointmentdate:</th>
                    <th scope="col">Appointmenttime:</th>             
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let p of filteredBooks" scope="row">
                    <td>{{p.Appointmentid}}</td>
                    <td>{{p.Fullname}}</td>
                    <td>{{p.Phone}}</td>
                    <td>{{p.Email}}</td>
                    <td>{{p.Age}}</td>
                    <td>{{p.Appointmentdate}}</td>
                    <td>{{p.Appointmenttime}}</td> 
                    <td><button (click)="delete()" class="btn btn-danger" type="button">Delete</button></td>
                </tr>
            </tbody>
          </table>
     