<div class="class2">
    <div class="class3">
        <table style="width:100%" *ngFor="let dt of Result">
            <tr>
              <th>Appointmentid:</th>
              <th>Fullname:</th>
              <th>Phone:</th>
              <th>Email:</th>
              <th>Age:</th>
              <th>Appointmentdate:</th>
              <th>Appointmenttime:</th>             
            </tr>
            <tr>
              <td>{{dt.Appointmentid}}</td>
              <td>{{dt.Fullname}}</td>
              <td>{{dt.Phone}}</td>
              <td>{{dt.Email}}</td>
              <td>{{dt.Age}}</td>
              <td>{{dt.Appointmentdate}}</td>
              <td>{{dt.Appointmenttime}}</td> 
              </tr>
              <tr *ngFor="let book of Result; let i = index">
                <th scope="row">{{book.Appointmentid}}</th>
                <td>{{book.Fullname}}</td>
                <td>{{book.Phone}}</td>
                <td>{{book.Email}}</td>
                <td>{{book.Appointmentdate}}</td>
                <td>{{book.Appointmenttime}}</td>

                <td class="text-center">
                  <button class="btn btn-sm btn-primary" >Edit</button>
                  <button class="btn btn-sm btn-danger" click="delete(book.Appointmentid.i)">Delete</button>
              </tr>
          </table>
        </div>
        </div>   
        
     ///delete 
     